<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
	<div th:fragment="contents" id="contents" class="content off-canvas-wrapper">
		
		<div class="off-canvas position-left" th:each="submenu : ${menu.submenus}"
			th:id="${submenu.id}" data-off-canvas="true" data-close-on-click="false"
			data-content-overlay="false">
			
			<div class="menu-bar">
				<div class="wrapper">
					<h2 th:text="${submenu.title}"></h2>
				</div>
			</div>
			<div th:switch="${submenu.tabbed}"> 
				<div th:case="false" class="vertical_menu">
					<th:block  th:each="category : ${submenu.categories}">
						<h3 th:text="${category.title}"></h3>
						<label th:each="option : ${category.options}" for="${option.command}" th:inline="text">
							[[${option.name}]]: <code>[[${option.command}]] <em>[[${option.parameters}]]</em></code></label>
					</th:block>
				</div>		
			</div>				
		</div>
			
		<div class="off-canvas position-left" id="hostCanvas"
			data-off-canvas="true" data-close-on-click="false"
			data-content-overlay="false">
			<!-- Menu -->
			<div class="menu-bar">
				<div class="wrapper">
					<h2>Host Discovery</h2>
				</div>
			</div>
			<div class="vertical_menu">
				<h3>Target specification</h3>
				<label for="hostFile">Hosts file: <code>-iL <em>&lt;inputfilename&gt;</em></code></label>
				
				<label for="randomHosts">Random hosts in range: <code>-iR <em>&lt;num hosts&gt;</em></code></label>
				
				<label for="excludeHost">Exclude hosts: <code>--exclude <em>&lt;host1[,host2],...&gt;</em></code></label>
				
				<label for="excludeHostFile">Exclude host file: <code>--excludefile <em>&lt;exclude_file&gt;</em></code></label>
				
				
				<h3>Host scan</h3>
				
				<label for="list">Only list hosts: <code>-sL</code></label>
				
				<label for="skipPort">Skip port scan: <code>-sn</code></label>
				
				<label for="skipHost">Skip host scan: <code>-Pn</code></label>
				
				<label for="pingType">Ping type (SYN,ACK,UDP &amp; SCTP): <code>-PS/PA/PU/PY <em>&lt;port list&gt;</em></code></label>
				
				<label for="echoReq">Perform echo request (Echo, timestamp &amp; mask): <code>-PE/PP/PM</code></label>
				
				<label for="IPPing">IP protocol ping scan<code>-PO <em>&lt;protocol number list&gt;</em></code></label>
				
				<label for="ARPPing">Local network ARP ping: <code>-PR</code></label>
				
				<label for="disableARPPing">Disable default local ARP ping: <code>--disable-arp-ping</code></label>
				
				<label for="traceroute">Show route to host: <code>--traceroute</code></label>
				
				<label for="reverseDNS">Disable/Force reverse DNS: <code>-n/-R</code></label>
				
				<label for="sysDNS">Use system's DNS resolver: <code>--system-dns</code></label>
				
				<label for="chooseDNS">Use this DNS<code>-dns-servers <em>&lt;server1 [,...]&gt;</em></code></label>
						
			</div>
		</div>
		
		
		<div class="off-canvas position-left" id="portCanvas"
			data-off-canvas="true" data-close-on-click="false"
			data-content-overlay="false">
			<!-- Menu -->
			<div class="menu-bar">
				<div class="wrapper">
					<h2>Port Scan</h2>
				</div>
			</div>
			
			<div class="vertical_menu">
				<h3>Port selection
					<label for="fastscan">Fast Scan: <code>-F</code></label>
				</h3>
				<label for="ports">Ports: <code>-p <em>&lt;port ranges&gt;</em></code></label>
				
				<label for="exports">Excluded ports/protocols: <code>--exclude-ports <em>&lt;port ranges&gt;</em></code></label>
				
				<label for="derandomize">Derandomize order: <code>-r</code></label>
				
				<label for="ratio">Ratio bigger than: <code>--port-ratio <em>&lt;ratio&gt;</em></code></label>
				
				<label for="top">Top ports: <code>--top-ports <em>&lt;n&gt;</em></code></label>
				
				<h3>IP protocol scan
					<label for="ipprotocol" > <code>-sO</code></label>
				</h3>
				<h3>
					Port scan
				</h3>
				
				<h4>TCP Scan Type</h4>
				<select  name="TCP">				  
				  <option value="none" selected="selected">None</option>				
				  <option value="-sS">TCP Syn: 				-sS</option>
				  <option value="-sT">TCP Connection: 		-sT</option>				  
				  <option value="-sN">TCP Null: 			-sN</option>
				  <option value="-sF">TCP Fin:				-sF</option>
				  <option value="-sX">TCP Xmas:				-sX</option>					  
				  <option value="-sA">TCP Ack:				-sA</option>
				  <option value="-sW">TCP Window:		 	-sW</option>
				  <option value="-sM">TCP Maimon:		 	-sM</option>				  
				  <!-- <option value="idle">TCP Idle</option> -->
				</select>
				<label for="relay">Enable FTP relay (disables TCP scan): <code>-b <em>&lt;FTP relay host&gt;</em></code></label>
				
				<h4>UDP Scan </h4>				
				<label for="udp">Enable UDP scan: <code>-sU</code></label>
				
				<h4>SCTP Scan Type</h4>
				<select name="STCP">
				  <option value="none" selected="selected">	None</option>
				  <option value="-sY">SCTP Init:			-sY</option>
				  <option value="-sZ">SCTP Cookie Echo: 	-sZ</option>
				</select>
				
			</div>
		</div>
		
			
		<div class="off-canvas position-left" id="scriptCanvas"
			data-off-canvas="true" data-close-on-click="false"
			data-content-overlay="false">
			<!-- Menu -->
			<div class="menu-bar">
				<div class="wrapper">
					<h2>Script Scan</h2>
				</div>
			</div>
			<div class="menu-content">
				<ul class="tabs" data-tabs="true" id="script-tabs">
				  <li class="tabs-title is-active"><a href="#panelGeneral" aria-selected="true">General</a></li>
				  <li class="tabs-title"><a href="#panelList">Script list</a></li>
				</ul>
				<div class="tabs-content vertical_menu" data-tabs-content="script-tabs">
				  	<div class="tabs-panel is-active" id="panelGeneral">
						<h3>General</h3>
						
						<label for="default">Run default set scripts: <code>-sC</code></label>
						
						<label for="script">Run script: <code>--script <em>&lt;filename | category | dir | expr&gt;</em></code></label>
						
						<label for="scriptArgs">Script args: <code>--script-args <em>&lt;n1&gt;=&lt;v1&gt;, &lt;n4&gt;={&lt;v4&gt;,&lt;v5&gt;}</em></code></label>
						
						<label for="scriptArgsFile">Script argument file: <code>--script-args-file <em>&lt;filename&gt;</em></code></label>
						
						<label for="scriptHelp">Help: <code>--script-help <em>&lt;filename | category | dir | expr&gt;</em></code></label>
						
						<label for="scriptTrace">Enable script trace: <code>--script-trace</code></label>
						
						<label for="scriptUpdate">Update script database: <code>--script-updatedb</code></label>
					
						
				  	</div>
					<div class="tabs-panel" id="panelList">
						<h3>Script list</h3>
						<input type="text" id="scriptFilter" onkeyup="scriptFilter()" placeholder="Search for script..."></input>
						<ul class="collapsibleList insideScroll" id="scriptList">
						    <li th:each="cat : ${scriptCategories}"  th:inline="text">
						    	[[${cat.key}]]
						        <ul>
						            <li class="file" th:each="script : ${cat.value}" th:inline="text">
							            <div class="scriptTooltip">[[${script.name}]]<span class="tooltiptext" th:text="${script.description}"></span>
										</div>
						            </li>
						        </ul>
						    </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="off-canvas position-left" id="versionOsCanvas"
			data-off-canvas="true" data-close-on-click="false"
			data-content-overlay="false">
			<!-- Menu -->
			<div class="menu-bar">
				<div class="wrapper">
					<h2>Version/OS Information</h2>
				</div>
			</div>
			<div class="vertical_menu">
				<h3>
					Version detection				
					<label for="versiones"> <code>-sV</code></label>
				</h3>
				
				
				<label for="9100">Include port 9100 in scan: <code>--allports</code></label>
				
				<label for="customintensity">Intensity: <code>--version-intensity <em>&lt;intensity&gt;</em></code></label>
				<label for="light" >Light scan: 		<code>--version-light</code></label>
				<label for="all" >Heavy scan: 			<code>--version-heavy</code></label>
				
				<label for="vtrace">Debug info about version: <code>--version-trace</code></label>
				
				<h3>
					OS detection
					<label for="os">  <code>-O</code> </label>
				</h3>
				<label for="limit">Limit OS scan: <code>--osscan-limit</code></label>
				<label for="fuzzy">Guess results: <code>-osscan-guess, --fuzzy</code></label>
				<label for="maxtries">Max number of tries  <code>--max-os-tries <em>&lt;tries&gt;</em></code></label>
			</div>
		</div>
		
		
		<div class="off-canvas position-left" id="optionCanvas"
			data-off-canvas="true" data-close-on-click="false"
			data-content-overlay="false">
			<!-- Menu -->
			<div class="menu-bar">
				<div class="wrapper">
					<h2>Other Options</h2>
				</div>
			</div>
			<div>
				<ul class="tabs" data-tabs="true" id="option-tabs">
				  <li class="tabs-title is-active"><a href="#panelOutput" aria-selected="true">Output</a></li>
				  <li class="tabs-title"><a href="#panelSpoof">Spoofing</a></li>
				  <li class="tabs-title"><a href="#panelPerformance">Performance</a></li>
				  <li class="tabs-title"><a href="#panelMisc">Misc</a></li>				  
				</ul>
				<div class="tabs-content vertical_menu" data-tabs-content="option-tabs">
				  	<div class="tabs-panel is-active" id="panelOutput">
						<h3>Output</h3>
						
						<label for="verbosity">Verbosity: <code>-v, -vv , -vvv, [...] -v<em>&lt;level&gt;</em></code></label>
						
						<label for="debug">Debug: <code>-d, -dd , -ddd, [...] -d<em>&lt;level&gt;</em></code></label>
						
						<label for="reason">Include port reason: <code>--reason</code></label>
						
						<label for="stats">Stats every: <code>--stats-every <em>&lt;time&gt;</em></code></label>
						
						<label for="traces">Traces: <code>--packet-trace, --script-trace, --version-trace</code></label>
						
						<label for="open">Only show open and unfiltered ports: <code>--open</code></label>
						
						<label for="iflist">Show interface list only: <code>--iflist</code></label>
						
						<label for="resume">Resume scan: <code>--resume <em>&lt;filename&gt;</em></code></label>						
				  	</div>
					<div class="tabs-panel " id="panelSpoof">
						<h3>Spoofing</h3>
						
						<label for="fragmentation">Fragment packages: <code>-f, --mtu <em>&lt;offset&gt;</em></code></label>
						
						<label for="decoys">Use decoys: <code>-D <em>&lt;decoy1&gt;, [RND] [RND:&lt;number&gt;] [ME] [...]</em></code></label>
						
						<label for="spoofIP">Spoof IP: <code>-S <em>&lt;IP_Address&gt;</em></code></label>
						
						<label for="interface">Choose inteface: <code>-e <em>&lt;interface&gt;</em></code></label>
						
						<label for="chosenPort">Output port: <code>--source-port <em>&lt;portnumber&gt;</em>, -g <em>&lt;portnumber&gt;</em></code></label>
						
						<label for="payloadHex">Include hexadecimal payload: <code>--data <em>&lt;hex string&gt;</em></code></label>
						
						<label for="payloadStr">Include string payload: <code>--data-string <em>&lt;string&gt;</em></code></label>
						
						<label for="payloadRnd">Include random payload: <code>--data-length <em>&lt;length&gt;</em></code></label>
						
						<label for="ttl">Change TTL: <code>--ttl <em>&lt;time&gt;</em></code></label>
						
						<label for="spoofMAC">Spoof MAC: <code>--spoof-mac <em>&lt;MAC, prefix, or vendor name&gt;</em></code></label>
						
						<label for="proxies">Use proxies: <code>--proxies<em>&lt;comma separated proxy URL list&gt;</em></code></label>

						<label for="badsum">Send wrong checksum: <code>--badsum</code></label>
						
						<label for="adler32">Use Adler32 for checksum: <code>--adler32</code></label>
						
					</div>
					<div class="tabs-panel " id="panelPerformance">
						<h3>Performance</h3>
						
						<label for="hostgroup">Hostgroup: <code>--min-hostgroup, --max-hostgroup <em>&lt;numhosts&gt;</em></code></label>
						
						<label for="paralelism">Paralell probes: <code>--min-parallelism, --max-parallelism <em>&lt;numprobes&gt;</em></code></label>
						
						<label for="timeout">Probe timeout: <code>--initial-rtt-timeout, --min-rtt-timeout, --max-rtt-timeout <em>&lt;time&gt;</em></code></label>
						
						<label for="retries">Max retries: <code>--max-retries <em>&lt;numtries&gt;</em></code></label>
						
						<label for="hostTimeout">Max host timeout: <code>--host-timeout <em>&lt;time&gt;</em></code></label>
						
						<label for="scriptTimeout">Max script timeout: <code>--script-timeout <em>&lt;time&gt;</em></code></label>
						
						<label for="delay">Max probe delay: <code>--scan-delay, --max-scan-delay <em>&lt;time&gt;</em></code></label>

						<label for="rate">Min/max dynamic scan rate: <code>--min-rate, --max-rate <em>&lt;number&gt;</em></code></label>

						<label for="defeatRST">Ignore RTS limit time adjustment: <code>--defeat-rst-ratelimit</code></label>

						<label for="defeatICMP">Ignore non reachable UDP adjustment: <code>--defeat-icmp-ratelimit</code></label>

						<label for="nsock">Force nsock engine: <code>--nsock-engine <em>epoll | kqueue | poll | select</em></code></label>

						<label for="aggressiveness">Aggressiveness: <code>-T <em>paranoid | sneaky | polite | normal | aggressive | insane</em></code></label>

					</div>
					<div class="tabs-panel " id="panelMisc">
						<h3>Miscellaneous</h3>
						
						<label for="ipv6">Enable IPv6 scan: <code>-6</code></label>
						
						<label for="aScan">Enable aggressive scan: <code>-A</code></label>
												
						<label for="dataDir">Specify nmap config dir: <code>--datadir <em>&lt;dir&gt;</em></code></label>

						<label for="servicedb">Specify nmap service file: <code>--servicedb <em>&lt;file&gt;</em></code></label>

						<label for="versiondb">Specify nmap probesfile: <code>--versiondb <em>&lt;file&gt;</em></code></label>
						
						<label for="sEth">Send data link layer packages: <code>--send-eth</code></label>
						
						<label for="sIp">Send network layer packages: <code>--send-ip</code></label>
						
						<label for="priv">Assume privileges: <code>--privileged</code></label>
						
						<label for="unpriv">Assume not having privileges: <code>--unprivileged</code></label>
						
						<label for="releasemem">Release memory before closing <code>--release-memory</code></label>
						
						<label for="version">Show version: <code>-V, --version </code></label>
						
						<label for="help">Show help: <code>-h, --help </code></label>					
					</div>
				</div>
			</div>
		</div>






		<div class="off-canvas-content" data-off-canvas-content="true">
			<div class="console">
				<form th:object="${command}" onsubmit="startLoop(); return false;">

					<label for="command">nmap</label> <input type="text" id="command"
						th:field="*{text}" /> <input type="submit" value=">" />

				</form>
			</div>
			<div class="container" id="out-container">
			<div class="out_container">
				<div  th:replace="fragments/ongoing :: ongoing" 
				th:fragment="ongoing" id="out-fragment">
				</div>
				
				<div  th:replace="fragments/finished :: finished" 
				th:fragment="finished" id="out-finished-fragment">
				</div>
			</div>
			</div>			
		</div>
    </div>
  </body>
</html>