<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
	<div th:fragment="contents" id="contents" class="content off-canvas-wrapper">
		
		
		<div class="off-canvas position-left" id="hostCanvas"
			data-off-canvas="true" data-close-on-click="false"
			data-content-overlay="false">
			<!-- Menu -->
			<div class="menu-bar">
				<div class="wrapper">
					<h2>Host Discovery</h2>
				</div>
			</div>
			<div class="vertical_menu">
				<h3>Target specification</h3>
				<label for="hostFile">Hosts file: <code>-iL <i>&lt;inputfilename&gt;</i></code></label>
				
				<label for="randomHosts">Random hosts in range: <code>-iR <i>&lt;num hosts&gt;</i></code></label>
				
				<label for="excludeHost">Exclude hosts: <code>--exclude <i>&lt;host1[,host2],...&gt;</i></code></label>
				
				<label for="excludeHostFile">Exclude host file: <code>--excludefile <i>&lt;exclude_file&gt;</i></code></label>
				
				
				<h3>
					Host scan
				</h3>
				
				<label for="list">Only list hosts: <code>-sL</code></label>
				
				<label for="skipPort">Skip port scan: <code>-sn</code></label>
				
				<label for="skipHost">Skip host scan: <code>-Pn</code></label>
				
				<label for="pingType">Ping type: <code>-PS/PA/PU/PY (SYN,ACK,UDP &amp; SCTP) <i>&lt;port list&gt;</i></code></label>
				
				<label for="echoReq">Perform echo request: <code>-PE/PP/PM (Echo, timestamp &amp; mask)</code></label>
				
				<label for="IPPing">IP protocol ping scan<code>-PO <i>&lt;protocol number list&gt;</i></code></label>
				
				<label for="ARPPing">Local network ARP ping: <code>-PR</code></label>
				
				<label for="disableARPPing">Disable default local ARP ping: <code>--disable-arp-ping</code></label>
				
				<label for="traceroute">Show route to host: <code>--traceroute</code></label>
				
				<label for="reverseDNS">Disable/Force reverse DNS: <code>-n/-R</code></label>
				
				<label for="sysDNS">Use system's DNS resolver: <code>--system-dns</code></label>
				
				<label for="chooseDNS">Use this DNS<code>-dns-servers <i>&lt;server1 [,...]&gt;</i></code></label>
						
			</div>
		</div>
		
		
		<div class="off-canvas position-left" id="portCanvas"
			data-off-canvas="true" data-close-on-click="false"
			data-content-overlay="false">
			<!-- Menu -->
			<div class="menu-bar">
				<div class="wrapper">
					<h2>Port Scan</h2>
				</div>
			</div>
			<div class="vertical_menu">
				<h3>Port selection
					<label for="fastscan">Fast Scan: <code>-F</code></label>
				</h3>
				<label for="ports">Ports: <code>-p <i>&lt;port ranges&gt;</i></code></label>
				
				<label for="exports">Excluded ports/protocols: <code>--exclude-ports <i>&lt;port ranges&gt;</i></code></label>
				
				<label for="derandomize">Derandomize order: <code>-r</code></label>
				
				<label for="ratio">Ratio bigger than: <code>--port-ratio <i>&lt;ratio&gt;</i></code></label>
				
				<label for="top">Top ports: <code>--top-ports <i>&lt;n&gt;</i></code></label>
				
				<h3>IP protocol scan
					<label for="ipprotocol" > <code>-sO</code></label>
				</h3>
				<h3>
					Port scan
				</h3>
				
				<h4>TCP Scan Type</h4>
				<select name="TCP">
				  <option value="syn">TCP Syn: 				 -sS</option>
				  <option value="connection">TCP Connection: -sT</option>				  
				  <option value="null">TCP Null: 			 -sN</option>
				  <option value="fin">TCP Fin:				 -sF</option>
				  <option value="xmas">TCP Xmas:			 -sX</option>					  
				  <option value="ack">TCP Ack:				 -sA</option>
				  <option value="window">TCP Window:		 -sW</option>
				  <option value="maimon">TCP Maimon:		 -sM</option>				  
				  <!-- <option value="idle">TCP Idle</option> -->
				</select>
				<label for="relay">Enable FTP relay (disables TCP scan): <code>-b <i>&lt;FTP relay host&gt;</i></code></label>
				
				<h4>UDP Scan </h4>				
				<label for="udp">Enable UDP scan: <code>-sU</code></label>
				
				<h4>SCTP Scan Type</h4>
				<select name="STCP">
				  <option value="init">SCTP Init:		   -sY</option>
				  <option value="cookie">SCTP Cookie Echo: -sZ</option>
				</select>
				
			</div>
		</div>
		
			
		<div class="off-canvas position-left" id="scriptCanvas"
			data-off-canvas="true" data-close-on-click="false"
			data-content-overlay="false">
			<!-- Menu -->
			<div class="menu-bar">
				<div class="wrapper">
					<h2>Script Scan</h2>
				</div>
			</div>
			<ul class="vertical_menu">
				<li><a href="#">Menu3</a></li>
			</ul>
		</div>
		
		
		<div class="off-canvas position-left" id="versionOsCanvas"
			data-off-canvas="true" data-close-on-click="false"
			data-content-overlay="false">
			<!-- Menu -->
			<div class="menu-bar">
				<div class="wrapper">
					<h2>Version/OS Information</h2>
				</div>
			</div>
			<div class="vertical_menu">
				<h3>
					Version detection				
					<label for="versiones"> <code>-sV</code></label>
				</h3>
				
				
				<label for="9100">Include port 9100 in scan: <code>--allports</code></label>
				
				<label for="customintensity">Intensity: <code>--version-intensity <i>&lt;intensity&gt;</i></code></label>
				<label for="light" >Light scan: 		<code>--version-light</code></label>
				<label for="all" >Heavy scan: 			<code>--version-heavy</code></label>
				
				<label for="vtrace">Debug info about version: <code>--version-trace</code></label>
				
				<h3>
					OS detection
					<label for="os">  <code>-O</code> </label>
				</h3>
				<label for="limit">Limit OS scan: <code>--osscan-limit</code></label>
				<label for="fuzzy">Guess results: <code>-osscan-guess, --fuzzy</code></label>
				<label for="maxtries">Max number of tries  <code>--max-os-tries <i>&lt;tries&gt;</i></code></label>
			</div>
		</div>
		
		
		<div class="off-canvas position-left" id="optionCanvas"
			data-off-canvas="true" data-close-on-click="false"
			data-content-overlay="false">
			<!-- Menu -->
			<div class="menu-bar">
				<div class="wrapper">
					<h2>Other Options</h2>
				</div>
			</div>
			<div class="vertical-menu">
				<ul class="tabs" data-tabs="true" id="example-tabs">
				  <li class="tabs-title is-active"><a href="#panelO1" aria-selected="true">Output</a></li>
				  <li class="tabs-title"><a href="#panelO2">Spoofing</a></li>
				  <li class="tabs-title"><a href="#panelO3">Performance</a></li>
				  <li class="tabs-title"><a href="#panelO4">Misc</a></li>				  
				</ul>
				<div class="tabs-content" data-tabs-content="example-tabs">
				  <div class="tabs-panel is-active" id="panelO1">				 
				  </div>
				  <div class="tabs-panel" id="panelO2">
				  </div>
				  <div class="tabs-panel" id="panelO3">
				  </div>
				  <div class="tabs-panel" id="panelO4">
				  </div>
				</div>
			</div>
		</div>






		<div class="off-canvas-content" data-off-canvas-content="true">
			<div class="console">
				<form th:object="${command}" onsubmit="startLoop(); return false;">

					<label for="command">nmap</label> <input type="text" id="command"
						th:field="*{text}" /> <input type="submit" value=">" />

				</form>
			</div>
			<div class="container" id="out-container">
			<div class="out_container">
				<div  th:replace="fragments/output :: output" 
				th:fragment="output" id="out-fragment">
				</div>
				<div id="out-container-finished">				
				</div>
			</div>
			</div>			
		</div>
    </div>
  </body>
</html>