<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en"
	dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>NMap GUI</title>
	<link rel="stylesheet" th:href="@{css/foundation.min.css}"	href="../../css/foundation.min.css" />
	<link rel="stylesheet" th:href="@{css/app.css}" href="../../css/app.css" />
	<link rel="stylesheet" th:href="@{css/output-fragment.css}" href="../../css/output-fragment.css" />
	<script th:src="@{js/vendor/jquery-3.2.1.min.js}" src="../../js/vendor/jquery-3.2.1.min.js"></script>
	<script th:src="@{js/vendor/foundation.min.js}"	src="../../js/vendor/foundation.min.js"></script>
	<script th:src="@{js/vendor/d3.v3.min.js}" src="../../js/vendor/d3.v3.min.js"></script>	
	<script th:src="@{js/app.js}" src="../../js/app.js"></script>
	<script th:src="@{js/graph.js}" src="../../js/graph.js"></script>
	
	
	
</head>
<body>
	<div id="sidebar" class="sidebar">
		<div>
			<img th:src="@{img/nmap-logo-256x256.png}" src="../../img/nmap-logo-256x256.png"  />
		</div>
		<button class="sidebar-button" id="hostButton" type="button"
			data-toggle="hostCanvas">
			<img th:src="@{img/network.png}" src="../../img/network.png" />
		</button>
		<button class="sidebar-button" id="portButton" type="button"
			data-toggle="portCanvas">
			<img th:src="@{img/ethernet.png}" src="../../img/ethernet.png" />
		</button>
		
		<button class="sidebar-button" id="scriptButton" type="button"
			data-toggle="scriptCanvas">
			<img th:src="@{img/script.png}" src="../../img/script.png" />
		</button>
		<button class="sidebar-button" id="versionOsButton" type="button"
			data-toggle="versionOsCanvas">
			<img th:src="@{img/assignment.png}" src="../../img/assignment.png" />
		</button>
		<button class="sidebar-button" id="optionButton" type="button"
			data-toggle="optionCanvas">
			<img th:src="@{img/settings.png}" src="../../img/settings.png" />
		</button>
	</div>
	<div class="header-bar"></div>
	<div th:replace="fragments/contents :: contents" ></div>
	
</body>
</html>
